.quienessomos{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  @media all and (min-width: 768px){
    margin: 45px 45px 0px 45px;
  }

}
.foto{
  border: 5px solid #f1f1f1;
  border-radius: 10px;
  margin-bottom: 15px;
  @media all and (min-width: 768px){
      margin-bottom: 0px;

      // ------esto no lo entiendo-------
  }
}
.contenedoriconos{
  display: flex;
  justify-content: center;
  margin-top: 15px;

}
.listaiconos + .listaiconos:before {
  content: "·";
  margin: 0 5px;
}
.iconos {
  display: flex;
  padding: 10px 40px 30px 40px;
  width: 100px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

@media all and (min-width: 768px) {

  .quienessomos{
    margin-top: 45px;
    margin-left: 45px;
    margin-right: 45px;
  }

  // .box-descripcion-derecha{
  //   display: flex;
  //   justify-content:space-between;
  // }
  .box-descripcion-derecha{

    display: grid;
    grid-template-columns:205 1fr;
    grid-template-rows: 1fr ;
    grid-gap: 0px;
    margin-top: 60px;

  }
  .box-foto-personal{
    grid-column: 1;
  }
  .box-personal{
    grid-column: 2;
    padding-left: 0px;
    height: 205px;
    margin-left: 30px;
    text-align: left;

  }
  .contenedoriconos{
    display: flex;
    justify-content: flex-start;
    margin-left: -38px;
  }

  .box-descripcion-izquierda{
    display: grid;
    grid-template-columns: 1fr  205px ;
    grid-template-rows: 1fr ;
    grid-gap: 0px;
    margin-top: 60px;

  }
  .box-foto-personal2{
    grid-column: 2;

  }
  .box-personal2{
    grid-column: 1;
    grid-row: 1;
    padding-right: 0px;
    height: 205px;
    margin-right: 30px;
    text-align: right;

  }
  .contenedoriconos2{
    display: flex;
    justify-content: flex-end;
    margin-right:-30px;
  }
  .foto{
  transition: border-radius ease 5s;
// ---------no me sale---------
  &:hover{
      width: 250px ;
      border-radius: 50%;
    }
  }
.nombre{
  transition: font ease 3s;
  &:hover{
    font-size: 33px;
  }
}

}
