.quienessomos{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin:30px 15px 45px 15px;

  @media all and (min-width: 768px){
    margin: 45px 45px 45px 45px;
  }
  @media all and (min-width: 1200px){
    margin: 45px 140px 60px 140px;
    width: 924px;
  }

}

.foto{
  border: 5px solid #f1f1f1;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: border-radius ease 5s;
  &:hover{
    width: 250px ;
    border-radius: 50%;
  }
  @media all and (min-width: 768px){
    margin-bottom: 0px;
  }
  @media all and (min-width: 1200px){
    width: 278px;
  }
}

.contenedoriconos{
  display: flex;
  justify-content: center;
  margin-top: 15px;

  @media all and (min-width: 768px){
    display: flex;
    justify-content: flex-start;
    margin-left: -38px;
  }
}

.listaiconos + .listaiconos::before {
  content: "·";
  margin: 0 5px;
}

.iconos {
  display: flex;
  padding: 10px 40px 30px 40px;
  width: 100px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.fab{
  color: #099d8d;
}

.fas{
  color: #099d8d;
}

  .box-descripcion-derecha{
    @media all and (min-width: 768px){
    display: grid;
    grid-template-columns:205 1fr;
    grid-template-rows: 1fr ;
    grid-gap: 0px;
    margin-top: 60px;
  }
  }

  .box-foto-personal {
    @media all and (min-width: 768px){
    grid-column: 1;
  }

  }

  .box-personal {
    @media all and (min-width: 768px){
    grid-column: 2;
    padding-left: 30px;
    height: 205px;
    text-align: left;
  }
  @media all and (min-width: 1200px){
    padding-right: 45px;
    width: 439px;
  }
  }

  .box-descripcion-izquierda{
    @media all and (min-width: 768px){
    display: grid;
    grid-template-columns: 1fr  205px ;
    grid-template-rows: 1fr ;
    grid-gap: 0px;
    margin-top: 60px;
  }
  }
  .box-foto-personal2{
    @media all and (min-width: 768px){
    grid-column: 2;
  }
}

.box-personal2{
  @media all and (min-width: 768px) {
    grid-column: 1;
    grid-row: 1;
    padding-right: 30px;
    height: 205px;
    text-align: right;
  }
  @media all and (min-width: 1200px){
    width: 439px;
  }
}
.contenedoriconos2 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  @media all and (min-width: 768px) {
    display: flex;
    justify-content: flex-end;
    margin-right:-30px;
  }
}
// .nombre{
//  transition: font ease 3s;
//  &:hover{
//    font-size: 33px;
//  }
// }
