.quienessomos{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.foto{
  border: 5px solid #f1f1f1;
  border-radius: 10px;
  margin-bottom: 15px;
}
.contenedoriconos{
  display: flex;
  justify-content: center;
  margin-top: 15px;

}
.listaiconos + .listaiconos::before {
  content: "·";
  margin: 0 5px;
}
.iconos {
  display: flex;
  padding: 10px 40px 30px 40px;
  width: 100px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

@media all and (min-width: 768px) {

  .descripciones{
    margin-left: 45px;
    margin-right: 45px;
  }

.box-descripcion-derecha{
  display: flex;
  justify-content:space-between;
}

.box-personal{
  background: red;
  padding-left: 0px;
  height: 205px;
  margin-left: 30px;
  text-align: left;

}
.contenedoriconos{
display: flex;
justify-content: flex-start;
margin-left: -38px;
}

.box-descripcion-izquierda{
  display: grid;
  grid-template-columns: 1fr  205px ;
  grid-template-rows: 1fr ;
  grid-gap: 5px;


}
.box-foto-personal{
  grid-column: 2;

}
.box-personal{
  grid-column: 1;
  grid-row: 1;
}



}
