.pag__footer{
text-align: center;
font-family: 'OpenSans', sans-serif;
font-size: 14px;
padding: 30px 45px 45px 45px;
border-top: 1px solid #b8b8b9;
}
.footer__Div{

}
.copy{
font-weight: 400;
color: #b8b8b9;
margin-bottom: 20px;
margin-top: 0;

}
.footer__nav{
padding-left: 0;
font-weight: 600;
margin-bottom: 30px;
line-height: 30px;
}
.footer__list{
  padding-left: 0;
  margin:0;
}
.footer__item{
list-style: none;
}
.footer__link{
text-decoration: none;
color: #54585A;
}

@media all and (min-width:768px){
.pag__footer{

padding-bottom: 60px;
padding-top: 0;
}
.footer__Div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
.copy{
  padding-top: 30px;
  margin-bottom: 15px;
}
.footer__nav{
  position: absolute;
  align-self: flex-end;
  margin-bottom: 0;
  padding-top: 25px;
  text-align: right;
}
.footer__item{

}
}
@media all and (min-width:1200px){
  .footer__Div{
    width: 924px;
margin-left: auto;
margin-right: auto;
  }
}
//margin-bottom: 15px;
