main h3 {
  color: #099d8d;
  font-family: 'Rubik',sans-serif;
  font-size: 22px;

  @media all and (min-width: 768px){
    margin-bottom: 15px;
  }
}

.fortalezasydebilidades {
    background: #f1f1f1;
    padding-top: 15px;
    padding-bottom: 22px;


  @media all and (min-width: 768px){
    margin-top: 30px;
    margin-bottom: 38px;
    display: flex;
    justify-content: space-between;

  }

  @media all and (min-width: 1200px){
    padding-left: 138px;
    padding-right: 138px;

  }
}

.sectionfortaleza {

  @media all and (min-width: 768px){

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: 30px;
  }

  @media all and (min-width: 1200px){
    margin-top: 45px;
    margin-bottom: 60px;
  }
}
