
.header{
  position: fixed;
  width: 100%;
  z-index: 1;
}
.logo{
  background-color: $colorVerdeoscuro;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}
.logotipo{
  width: 50px;
  height: 50px;
  padding-top: 3px;
}
.container{
  background-color: $colorVerdeclaro;
  opacity: 0.9;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu{

}
.listamenu{
  margin: 0;
  list-style: none;
  padding: 0;
}
.menu__items{
  display: inline;
  margin-left: 15px;
  margin-right: 15px;

}
.menu__items:last-child{
  margin-right: 0;
}
.menu__items:first-child{
  margin-left: 0;
}
.menu__link{
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: $colorBlanco;
}
@media all and (min-width:768px){
  .header{
    background-color: $colorVerdeoscuro;
  }
  .pag__header{
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding-left: 45px;
    padding-right:45px;
  }
  .container{
    box-sizing: border-box;
    background-color: $colorVerdeoscuro;
  }
}
@media all and (min-width:1200px){
  .header{
    display: flex;
    justify-content: center;
  }
  .pag__header{
    width: 924px;
    padding: 0;

  }
}
