.hero{
  background-image: url("../imagenes/cabecera.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.contenedor{
  margin: 0 15px;
height: 100%;
  position: relative;
}
.hero__title{
  margin: 0;
  transform: translateY(16px);
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #ffffff;
  color: #000000;
  text-align: center;
  font-size: 18px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 600;
}
@media all and (min-width:768px){
  .hero__title{
    background-color: #dbd4d1;
    opacity: 0.8;
    transform: translateY(0);
    padding: 15px 30px;
    width: auto;
    font-size: 24px;
    margin-left: 45px;
  }
  .contenedor{
    margin:0;
  }
}
@media all and (min-width:1200px){
  .photocabeceracontacto{
    height: 400px;
  }
.hero{
  display: flex;
  justify-content: center;

}
  .contenedor{
    width: 924px;
margin:0;

  }
  .hero__title{
    margin: 0;
  }
}
.photocabeceracontacto {
  background-image:url("../imagenes/contacto.jpg");
  height: 300px;
  width: 100%;
  background-size: cover;
  margin:auto;
  background-repeat: no-repeat;
  background-position: center 30%;
}
